<div class="section" id="Second">
    <div class="block" id="block2">
        <h1>Новини</h1>
        <div class="cards">
            <div class="card">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas in, repellendus eaque tempore minima at. Consectetur minus, aliquam doloremque aspernatur quasi quaerat vero saepe itaque quisquam tenetur, totam eveniet tempora.</p>
            </div>
            <div class="card">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas in, repellendus eaque tempore minima at. Consectetur minus, aliquam doloremque aspernatur quasi quaerat vero saepe itaque quisquam tenetur, totam eveniet tempora.</p>
            </div>
            <div class="card">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas in, repellendus eaque tempore minima at. Consectetur minus, aliquam doloremque aspernatur quasi quaerat vero saepe itaque quisquam tenetur, totam eveniet tempora.</p>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
